
Interview/bin/Debug/Interview.dll
Interview/bin/Debug/Interview.pdb
Interview/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
Interview.Core/bin/Debug/Interview.Core.dll
Interview.Core/bin/Debug/Interview.Core.pdb
Interview.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Interview.Core/obj/Debug/Interview.Core.csproj.FileListAbsolute.txt
Interview.Core/obj/Debug/Interview.Core.csprojResolveAssemblyReference.cache
Interview.Core/obj/Debug/Interview.Core.dll
Interview.Core/obj/Debug/Interview.Core.pdb
Interview.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Interview.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Interview.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Interview/bin/Debug/Interview.Core.dll
Interview/bin/Debug/Interview.Core.pdb
Interview/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Interview/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Interview/obj/Debug/Interview.csproj.FileListAbsolute.txt
Interview/obj/Debug/Interview.csprojResolveAssemblyReference.cache
Interview/obj/Debug/Interview.dll
Interview/obj/Debug/Interview.pdb
